
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
:root{
	--text-color: #302e29;
	--main-color: #ff9100;
	--second-color: #858585;
	--bg-color: #fdfcfa;
	--big-font: 4.3rem;
	--h2-font: 2.6rem;
	--p-font: 1.2rem;
}
body{
	background: var(--bg-color);
	color: var(--text-color);
}
header{
	width: 100%;
	top: 0;
	right: 0;
	padding: 23px 15%;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	background: transparent;
	position: fixed;
	z-index: 1000;
	transition: all .38s ease;
}
.logo{
	font-size: 30px;
	font-weight: 700;
	color: var(--text-color);
}
.logo-img{
	width: 35px;
	margin-right: 10px;
}
.home-text span{
	color: var(--main-color);
}
.navbar{
	display: flex;
}
.navbar a{
	color: var(--text-color);
	font-size: var(--p-font);
	font-weight: 500;
	margin: 2px 25px;
	padding: 5px 10px;
	border-bottom: 2px solid transparent;
	transition: all .38s ease;
}
.navbar a:hover{
	color: ghostwhite;
	background-color: var(--main-color);
	border-radius: 5px;
}
.nav-icons{
	padding: 10px 22px;
	align-items: center;
	background: var(--main-color);
	border-radius: 5rem;
	display: flex;
}
.nav-icons i{
	color: var(--bg-color);
	margin-right: 15px;
	margin-left: 8px;
	font-size: 24px;
	font-weight: 500;
}
#menu-icon{
	font-size: 32px;
	color: var(--bg-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

section{
	padding: 90px 15% 80px;
}
.home{
	height: 88vh;
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}
.home-img img{
	width: 100%;
	height: auto;
	margin-top: 30px;
}
.home-text h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size: var(--big-font);
	line-height: 1.2;
	margin-top: 3rem;
	margin-bottom: 2rem;
}
.home-text p{

	font-size: var(--p-font);
	font-weight: 500;
	color: var(--second-color);
	line-height: 32px;
	margin-bottom: 2.3rem;
}
.btn{
	display: inline-block;
	padding: 14px 26px;
	background: var(--main-color);
	color: var(--bg-color);
	font-size: 15px;
	font-weight: 600;
	border-radius: 5rem;
	transition: all .38s ease;
}
.btn:hover{
	letter-spacing: 1px;
}

header.sticky{
	padding: 10px 15%;
	background: var(--bg-color);
	box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
}
.main-text h2{
	margin-bottom: 15px;
	font-size: var(--h2-font);
}
.main-text p{
	font-size: var(--p-font);
	font-weight: 500;
	color: var(--second-color);
	line-height: 32px;
}
.container-box{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 2rem;
	align-items: center;
	margin-top: 4rem;
}
.c-mainbx{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.4rem;
	border-radius: 10px;
	height: 90px;
	background: var(--bg-color);
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	transition: all .38s ease;
}
.container-text p{
	font-size: var(--p-font);
	font-weight: 500;
}
.c-mainbx:hover{
	transform: translateX(10px);
	cursor: pointer;
}

.about{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}
.about-img img{
	height: auto;
	width: 100%;
}
.about-text h2{
	font-size: var(--h2-font);
	margin-bottom: 2rem;
	line-height: 1.3;
}
.about-text p{
	font-size: var(--p-font);
	color: var(--second-color);
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 2.3rem;
	letter-spacing: 2px;
}
.menu-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 2rem;
	align-items: center;
	margin-top: 4rem;
	cursor: pointer;
}
.row img{
	width: 100%;
	height: auto;
	border-radius: 10px;
}
.row{
	transition: all .38s ease;
}
.mains-text h2{
	margin-top: 30px;
}
.mains-text p{
	margin-top: 20px;
}
.menu-text{
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu-left h4{
	font-size: 23px;
}
.menu-right h5{
	color: var(--main-color);
	font-size: 23px;
}
.row p{
	color: var(--second-color);
	font-size: 15px;
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.star i{
	color: var(--main-color);
	font-size: 17px;
	margin-right: 4px;
}
.row:hover{
	transform: scale(1.02);
}

/* multimedia */

.media h2{
	margin-top: 30px;
	margin-bottom: 20px;
}
.v-media{
	 margin: 18px 25px;
}
.a-media{
	margin-top: 80px;
}
.a-media p{
	margin-top: 20px;
}
/* form */

.contact{
	background-color:transparent;
	color: black;
	margin: 0px 25px 10px 5px;
	padding: 20px;
	text-align: center;
}
.contact h2{
	margin-bottom: 30px;
	padding-bottom: 25px;
	font-size: 36px;
	font-family: 'Times New Roman', Times, serif;
}
.feedback-input {
	color:rgb(0, 0, 0);
	font-family: 'Raleway', sans-serif;
	font-weight:500;
	font-size: 18px;
	border-radius: 5px;
	background-color: transparent;
	border:2px solid #320f0f;
	transition: all 0.3s;
	padding: 15px;
	margin-bottom: 15px;
	width:50%;
	box-sizing: border-box;
  }
.feedback-input:focus { 
	border:2px solid #170909;
 }
  
  textarea {
	height: 150px;
	line-height: 150%;
	resize:vertical;
	color: black;
  }
  
  [type="submit"] {
	font-family: 'Raleway', sans-serif;
	width: 50%;
	background: black;
	border-radius:5px;
	border:2px solid #170909;
	cursor:pointer;
	color:ghostwhite;
	font-size:24px;
	font-weight: 700;
	padding-top:10px;
	padding-bottom:10px;
	transition: all 0.3s;
	margin-top:-4px;
	font-size: 18px;
	font-weight:500;
  }
  [type="submit"]:hover { 
	background: green;
 }
/* footer section */
.footer-contact{
	padding: 50px 15% 40px;
	background-color: rgb(20, 14, 14);
}
.main-contact{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, auto));
	gap: 1rem;
	margin-left: 10px;
}
.contact-content h4{
	font-size: 20px;
	color: gray;
	margin-bottom: 1.5rem;
}
.contact-content li{
	margin-bottom: 16px;
}
.contact-content li a{
	display: block;
	color:ghostwhite;
	font-size: 16px;
	font-weight: 500;
	transition: all .38s ease;	
}
.contact-content li a:hover{
	transform: translateX(3px);
	color: var(--main-color);
}
.contact-content li a i{
	font-weight: 500;
	left: 100px;
}
.sc-media{
	padding-left: 10px;
}
.scroll-top{
	position: fixed;
	bottom: 2.2rem;
	right: 2.2rem;
}
.scroll-top i{
	padding: 8px;
	font-size: 1.4rem;
	color: #fff;
	background: var(--main-color);
	border-radius: 5rem;
}
.last-text p{
	text-align: center;
	padding:  15px 25px;
	background-color: rgba(29, 5, 5, 0.858);
	color:ghostwhite;
	font-size: 15px;
	letter-spacing: 1px;
}
.last-text p:hover{
	color: var(--main-color);
}


@media (max-width: 1690px){
	section{
		padding: 10px 50px 2%;
		padding-top: 10px;
		transition: .2s;
	}
	header{
		padding: 11px 2%;
		transition: .2s;
	}
	header.sticky{
		padding: 8px 2%;
		transition: .2s;
		position: sticky;
		background: var(--main-color);
	}
	.contact{
		padding: 50px 2%;
		transition: .2s;
	}
	.v-media{
		margin: 18px 15px;
	}
}

@media (max-width: 1290px){
	section{
		padding: 0px 2%;
		transition: .2s;
	}
	:root{
		--big-font: 3.2rem;
	  --h2-font: 2rem;
	  --p-font: 1rem;
	  transition: .2s;
	}
	.home{
		height: 80vh;
	}
	.main-text{
		text-align: center;
		
	}
	.media{
		margin-top: 80px;
	}
	.v-media{
		margin: 18px 25px;
	}
}

@media (max-width: 880px){
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 250px;
		height: 110vh;
		background: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 180px 40px;
		transition: all .38s ease;
	}
	.navbar a{
		display: block;
		margin: 1.3rem 0;
	}
	.navbar.open{
		right: 0;
	}
	.btn{
		display: block;
		width: 200px;
		text-align: center;
	}
	.about-text h2{
		text-align: left;
	}
	.about-text p{
		text-align: left;
	}
	.container{
		padding-top: 280px;
	}
	.v-media{
		margin-left: 23%;
	}
}

@media (max-width: 768px){
	:root{
		--big-font: 3rem;
	  --h2-font: 1.8rem;
	  transition: .2s;
	}
	.home{
		grid-template-columns: 1fr;
		height: 114vh;
		margin-left: 16px;
	}
	.home-img{
		text-align: center;
	}
	.home-img img{
		height: auto;
		max-width: 590px;
		width: 100%;
		margin-top: 5px;
	}
	.home-text{
		padding-top: 50px;
	}
	.home-text p{
		display: inline;
	}

	.home-text a.btn {
		margin-top: 30px;
	}
	a.btn.btn-sub {
		margin-left: 2px;
		margin-bottom: 50px;
	}
	.menu{
		margin-left: 20px;
	}
	.container{
		margin-left: 20px;
	}
	.main-text{
		padding-top: 2px;
	}
	.about{
		grid-template-columns: 1fr;
		margin-left: 30px;
	}
	.about-text{
		text-align: center;
	}
	.about-img{
		text-align: center;
	}
	.about-img img{
		height: auto;
		max-width: 590px;
		width: 100%;
	}
	.mains-text{
		padding-top: 10px;
		text-align: center;
	}
	.mains-text p{
		padding-top: 15px;
	}
	.media{
		margin-top: 80px !important;
		text-align: center;
	}
	.v-media{
		margin-left: 5%;
	}
	.footer-contact{
		margin-left: 30px;
	}
	.last-text p{
		margin-left: 30px;
	}
}